:host {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.input {
	position: relative;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	
}

div.input label {
	position: absolute;
	top: 0;
	transform: translateY(-50%);
	left: 10px;
	background-color:gainsboro;
	border:1px solid teal;
	padding: 5px 2px;
}

div.input input {
	padding: 14px 20px;
	font-size: 20px;
	
}

div.input {
	margin-top: 20px;
}

.submit{
	padding: 8px !important;
}