<div class="row">
  <div class="col-sm-12 text-center">
      
          
          <p>
          Welcome <i>{{name}}</i>!<br>
          Did you know that the world population is growing extremely fast? 
          </p>
          
          
          <button class="btn btn-primary"><a routerLink="/" style="text-decoration:none;color:#fff">Go Back</a></button>
          <button class="btn btn-primary"><a routerLink="/chartform" style="text-decoration:none; color:#fff">Next Page</a></button>
          </div>
  
</div>
