
<div class="row">

  <div class="col-sm-offset-1 col-sm-10">
      
      <div *ngIf="chart" class="chartform">
          <p>TotalPopulation vs Countries</p>
        
          <canvas id="canvas">{{ chart }}</canvas>
         
      <div class="links">
          <button  class="btn btn-primary"><a routerLink="/dashboard" style="text-decoration:none; color:#fff">Go Back</a></button>
          <button  class="btn btn-primary"><a routerLink="/" style="text-decoration:none;color:#fff">Close</a></button>
          <button  class="btn btn-primary" style="text-decoration:none" (click)="toggleChart();">Change ChartType</button>
          <button  class="btn btn-primary" style="text-decoration:none" (click)="restyleChart();">Restyle ChartType</button>
       </div> 
    </div>
   
  </div>
  
</div>



