

.chartform{
    padding: 10px 0;
    display: block;
    position: relative;
    }
    .links{
    text-align: center;
    }
    
    p{
        text-align: center;
        padding: 20px 0;
        font-size: 15px;
        color:#fff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    